.portlet-decorate {
  .portlet {
    margin-bottom: 0;
  }

  .portlet-content {
    border-width: 0;
    padding: 0;
  }
}

.portlet-solid .portlet-content {
  background: #fff;
  border: 1px solid #deeeee;
}

.portlet-barebone .portlet-content {
  padding: 0;
}
