$portlet-header-margin-bottom: map-get($spacers, 5);

$portlet-topper-bg: #f1f5ff;
$portlet-topper-border: #d7e5ff;
$portlet-topper-color: map-get($theme-colors, primary);
$portlet-topper-link-color: map-get($theme-colors, primary);
$portlet-topper-link-hover-color: map-get($theme-colors, primary);

$portlet-content-border-radius: 0 0 8px 8px;
$portlet-topper-border-radius: 4px 4px 0 0;
