$body-bg: white;
$bright-color: #1865FB;
$complementary-color: #869CAD;
$dark-color: #242529;
$light-color: #E7E7ED;
$solid-color: #47647A;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;